
@font-face {
  font-family: "candy";
  src: url("../img/font/glitter_candy/Glitter Candy DEMO.otf")
}
body{
  margin: 0;
  height: 100vh;
  padding: 0;
  font-family: "candy";
  min-font-size: 1vw;
  text-align: center;
  background-image: radial-gradient(#65c1be,white,#65c1be);
}
.butdiv{
  display: flex;
  flex-direction: column;
  padding: auto;
}
.bouton a{
  font-family: "candy";
  text-decoration: none;
  outline-color: #fdde13;
  background-image: radial-gradient(#fdde13,white);
  border: none;
  color: white;
  margin: 1vh;
  min-width: 10vw;
  min-height: 3.2vh;
  font-size: 24pt;
}
.bouton a:last-child{
  outline-color: #65c1be;
}
.bouton{
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}
h1{
  text-align: center;
  width: auto;
  font-size: 10em;
  margin: auto;
  padding: 0;
}
span{
  text-align: center;
  background-color: #fdde13;
  width: 10vw;
  border-radius: 90%;
  margin: auto;
  padding: 0 2.5vw;
}
.Quiz{
  width: 900px;
  height: auto;
  border:1px solid;
  margin: auto;
  margin-top: 100px;
}

.Quiz > h1 {
  text-align: center;
}

.Quiz > .Logo > img {
  width: 150px;
  margin: auto;
  display: flex;
}

.Quiz > .box{
  display: flex;
  justify-content: center;
  margin-top: 3em;
}


.Quiz >.box > input {
  width: 300px;
  height: 25px;
}

.Quiz > .box > button {
  width: 100px;
  margin-left: 1em;
}
.Logo > ul , .Animal > ul  {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
 .Logo > ul > li , .Animal > ul > li{
   font-size: 10pt;
   margin-bottom: 1em;
 }

 .Animal > img {
   width: 200px;
 }

 .Logo > ul > li > button , .Animal > ul > li > button{
   padding: 1em 3em;
 }

 .Quizz {
   display: flex;
   justify-content: space-around;
 }

.word li {
     border: 1px dashed grey;
     height: 1em;
     width: 1em;
     font-size: 2em;
     padding: 0.25em;
     margin: 0.05em;
}
